
.selection-list .sl-line {
  background-color: rgb(247, 247, 247);
}

.selection-list .people-line {
  position: relative;
  min-height: 50px;
  padding-left: 60px;
}

.selection-list .people-line .icon {
  position: absolute;
  top: 0;
  left:0;
}
