<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>rodolphe</display-name>
  <context-param>
    <param-name>boot.applicationConfiguration</param-name>
  	<param-value>/boot/components/core.xml;/boot/components/foundation.xml;/boot/components/db.xml;/boot/components/search-embedded.xml;/boot/components/services.xml;/boot/components/webservices.xml</param-value>
     <!--
    <param-value>/boot/components/core.xml;/boot/components/foundation.xml;/boot/components/db.xml;/boot/components/search-distant.xml;/boot/components/services.xml;/boot/components/webservices.xml</param-value>
   -->
  </context-param>
  <context-param>
    <param-name>boot.db.source</param-name>
    <param-value>java:/comp/env/jdbc/DataSource</param-value>
  </context-param>
  <context-param>
    <param-name>boot.db.classname</param-name>
    <param-value>io.vertigo.dynamo.impl.database.vendor.postgresql.PostgreSqlDataBase</param-value>
  </context-param>
  <listener>
    <listener-class>io.vertigo.vega.impl.rest.servlet.ApplicationServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>SparkFilter</filter-name>
    <filter-class>spark.servlet.SparkFilter</filter-class>
    <init-param>
      <param-name>applicationClass</param-name>
        <param-value>io.vertigo.vega.plugins.rest.routesregister.sparkjava.VegaSparkApplication</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SparkFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>