@import "./variables";

hr {
  border-top: solid 1px $color-gris2
}
body {
  background-color:  $color-blanc;
  font-family: RobotoRegular;
  font-size: 12px;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $color-gris2;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-vert;
}

::-webkit-scrollbar-thumb:hover {
  background-color:  $color-vert2;
}