@import "./variables";

.details {
  background-color: white;
  border: solid 1px $color-gris2;
  margin-left: 270px;
  position: relative;
  padding-left: 20px;
}

.slidingBloc {
  ul.selection-list {
    li.sl-line:hover {
      background: none;
    }
    li.sl-line {
      cursor: auto;
    }
  }
}

.catridgeContainer {
  z-index: 10;
  width: 500px;
  border-left: solid 1px $color-gris2;
  border-bottom: solid 1px $color-gris2;
  border-bottom: none;
  float:right;
}