@import "./variables";

.detail {
  padding: 300px 25px 40px 25px;
}

.detail-content {
  margin-left:270px;

  .block {
    background-color: white;
    border: solid 1px $detail-bloc-border;
    padding: 15px;
    box-shadow: 1px 1px 5px 0px $detail-bloc-border;
    margin-bottom: 15px;
  }
}

.slidingBloc {
  ul.selection-list {
    li.sl-line:hover {
      background: none;
    }
    li.sl-line {
      cursor: auto;
    }
  }
}

.catridgeContainer {
  z-index: 10;
  width: 500px;
  border-left: solid 1px $color-gris2;
  border-bottom: solid 1px $color-gris2;
  border-bottom: none;
  float:right;
}