 @import "./variables";

ul.selection-list li.sl-line {
  padding-left: 10px;
  min-height: 60px;
  div.sl-selection {
    background-color:  $color-blanc;
    min-height: 60px;
    padding-left: 10px;
  }
}

.liveFilterContainer {
  float: none;
  display: inline-block;
}

.resultContainer {
  float: none !important;
  margin-left: 270px;
  position: relative;
}

.liveFilter {
  width: 15% !important;
}


.btn-see-more {
  display: inline-block;
}

.btn-show-all {
  display: inline-block;
  float: right;
  margin-right: 5px;
}


.results-groupBy-title {
  padding: 5px 0 0 5px;
}

.btn-group-by-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}
