@import "./variables";

.user-infos i {
  font-size: 24px;
}
.user-infos .header-menu-item {
  text-align: center;
  height: 60px;
  width: 80px;
  padding-top: 18px;
  display: inline-block;
  cursor: pointer;
}

.badge-alerte {
  background-color: $color-rouge2;
  margin-left: -10px;
  margin-top: -5px;
  padding: 3px 4px;
  position: absolute;
}
.badge-warning {
  background-color: $color-jaune;
  padding: 3px 4px;
  margin-left: -5px;
  margin-top: -2px;
  position: absolute;
}

.header-title {
  font-size: 28px;
  text-transform: none;
  font-weight: bold;
  margin-left: 12px;
}
.actions-left {
  margin-top: 10px;
}

//Le résumé de la fich n'est pas affiché en mode medium.
/*header[data-focus="header"]{
  //When the size is medium, the summary-bar is not visible.
  &[data-size="medium"]{
    div[data-focus="bar"]{
      div:nth-child(2){
        display:none;
    }
  }
  //When the size is small, the cartridge is not visible.
  &[data-size="small"]{
    div[data-focus="cartridge"]{
      display: none;
    }
  }
}
}*/
//Le cartouche de la fiche est invisible dans le cas d'une taille small.
