$header-search-color: #000;

@mixin header-search-bg {
  background: url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

[data-focus="header"] {
  .page-title {
    color: #000;
    font-size: 22pt;
    text-transform: uppercase;
    padding: 0 10px;
  }
  &[data-route="search"] {
    [data-focus="bar"] {
      background-color: transparent;
    }
    &.header-small {
      [data-focus="bar"] {
        background-color: #FFF;
      }
    }
    &.header-medium {
      .page-title {
        color: #FFF;
      }
      [data-focus="bar"] {
        [data-focus="bar-content-left"], [data-focus="bar-content-right"] {
          color: #FFF;
        }
      }
      [data-focus="content-bar"] {
        h1 {
          text-align: center;
          color: #FFF;
          font-size: 32pt;
          font-weight: 100;
          width: 800px;
          margin-left: 270px;
        }
        @include header-search-bg();
      }
    }
  }
}

[data-focus="search-bar"] {
  [data-focus="scope"] {
    background-color: rgba(255, 255, 255, 0.3);
    color: $header-search-color;
  }
  .sb-input-search {
    input {
      background-color: rgba(255, 255, 255, 0.3);
      color: $header-search-color;
    }
  }
}

[data-focus="cartridge"] {
  [data-focus='search-bar'] {
    .sb-input-search {
      input {
        padding: 0 5px;
      }
      input::-webkit-input-placeholder {
        color: $header-search-color;
      }
      input::-moz-placeholder {
        color: $header-search-color;
      }
      input::-ms-input-placeholder {
        color: $header-search-color;
      }
      input::-moz-placeholder {
        color: $header-search-color;
      }
    }
  }
}
