@sidebar-width:100px;

.menu-horizontal {
  height: 60px;
}
.menu {
  background: #3ABAAE;
}

.menu h3 {
  color: #FFFFFF;
  font-size: 1.9em;
  padding: 10px;
  margin: 0;
  font-weight: 300;
  background: #3ABAAE;
}
.menu-horizontal h3 {
  width: @sidebar-width;
}

.menu-horizontal a {
  border-left: none;//1px solid #009587;
  width: auto;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.menu a:hover {
  background: #FFFFFF;
}