@import "./variables.less";

@sidebar-width:60px;

.menu-horizontal {
  height: 60px;
}

.menu-vertical {
  width: 60px;
}
.header-menu {
  background: #FFFFFF;
  margin-left: 60px;
  border-bottom: 1px solid #e2e2e2;
}

.header-menu h3 {
  color: @color-noir2;
  font-size: 24px;
  margin: 0;
  font-family: RalewayExtraBold;
  background: #FFFFFF;
  width: @sidebar-width;
  padding: 18px 0 18px 10px;
  text-transform: uppercase;
}

.header-menu a,
.left-menu a{
  border-left: none;
  border-bottom: none;
  width: auto;
  padding:0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.left-menu a img {
  width:20px;
  height: 20px;
}

.header-menu a:hover,
.left-menu a:hover {
  background: @color-vert2;
}

.left-menu {
  background: @color-vert;
}


#leftMenu .brand {
  text-align: center;
  background-color: @color-gris;
  height: 60px;
  padding-top: 20px;
}

#leftMenu .left-menu a {
  padding-top: 20px;
  height: 60px;
}