.movieDetails {
  background-color: white;
  float: right;
  width: 85%;//85%
  border: solid 1px;
}

.movieCartridgeCss {
  width: 454px;//30%
  float: right;
  border-left: solid 1px;
}

.movieCartridge .header {
  background-color: #EEECE1;
  height: 150px;
  border-bottom: solid 1px;
}

.movieCartridge .header .picture {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px;
}

.movieCartridge .header .title {
  padding-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.movieCartridge .field {
  background-color: #F2F2F2;
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px;
}

.movieCartridge .field .title{
  width: 30%;
  float: left;
  font-weight: bold;
}

.movieCartridge .field .content{
  width: 70%;
  float: right;
}

.slidingContentCss {
  width: 70%;
  float: left;
}
.slidingContentCss h3 {
  color: grey;
  margin-left: 20px;
}

#slidingContent .slidingBloc {
  border-bottom: solid 1px;
}

.sticky-navigation {
  background-color: white;
  width: 13%;
  padding-left: 20px;
}

.sticky-navigation a {
  color: black;
}

.sticky-navigation a:hover,.sticky-navigation a:focus{
  color: purple;
}

.peopleCard {
  background-color: #E0E0E0;
  height: 70px;
  margin: 20px;
  padding: 10px;
}

.peopleCard .picture {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.peopleCard .name {
  font-weight: bold;
  font-size: 20px;
}