$movie-poster-witdh:300px;

[data-focus='header'] {
  .cartridge-movie {
    //display: flex;
    //flex-direction: row; //(flex ne fonctionne pas sous safari pour le moment)
    min-height: $movie-poster-witdh;

    .poster {
      width: 250px;
      height: $movie-poster-witdh;
      float:left;
      background-color: #F8F8F8;
      text-align: center;
      color: #B2B2B2;

      img {
        width: 250px;
        height: 300px;
      }
    }
    .summary {
      margin-left: $movie-poster-witdh+20px;
    }
  }
}


[data-focus="selection-list"] {
  li[data-focus="sl-line"] {
    .movie-line {
      min-height: 75px;
    }
  }
}

[data-focus='movie-preview'] {
  [data-focus='head'] {
    width: 100%;
    height: 200px;

    [data-focus='poster'] {
      float: left;
      width: 150px;
      height: 200px;
      border: solid #827d7c 1px;
      padding: 5px;

      [data-focus='empty'] {
        background-color: #f3f3f3;
        text-align: center;
        padding-top: 60px;
        color: #e8e8e8;
        font-size: 4em;
        height: 100%;
      }
    }

    [data-focus='summary'] {
      margin-left: 170px;
    }
  }

}
