@sidebar-width:100px;

#leftMenu {
  height: 100%;
  width: @sidebar-width;
  top:0;
  left:0;
  position: fixed;
  background-color: #1A3481;
  text-align: center;
  padding-top: 10px;
}
#leftMenu img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 1px dashed white;
}
#container {
  margin-left: @sidebar-width;
  padding:0;
}
#header {
  height: 80px;
  text-align: right;
  border-bottom: 2px #909090 solid;
}
#header img {
  float: right;
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 1px dashed white;
}
#page {
  background: #ffffff;
  margin-top: 20px;
  padding: 10px;
}