 @import "./variables";
 $sidebar-width:60px;
 $border-color: #c3c3c3;

#leftMenu {
  height: 100%;
  width:  $sidebar-width;
  top:0;
  left:0;
  position: fixed;
  text-align: center;
  z-index: 1006;
}

#page {
  min-width: 1300px;
  padding: 25px;
  padding-left:  $sidebar-width+25px;
}

.clear{
  clear: both;
}