 @import "./variables";
 $sidebar-width:60px;
 $border-color: #c3c3c3;

body{
  background-color:  $color-blanc;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
#leftMenu {
  height: 100%;
  width:  $sidebar-width;
  top:0;
  left:0;
  position: fixed;
  text-align: center;
  z-index: 1006;
}

#pageContent {
  margin-left:  $sidebar-width;
}

#header {
  text-align: center;
  position: absolute;
  left:0;
  right: 0;
  z-index: 1005;
  line-height: 40px;
}

#header:before {
  //content: 'header à définir';
}

#page {
  padding: 70px 20px 20px 20px;
  display: inline-block;
  width: 100%;
  min-width: 1300px;
}

.clear{
  clear: both;
}

.home-popin{
  margin: 70px 0 0 60px !important;
}

.home-popin-header {
  font-size: 16px;
  font-weight: bold;
  padding: 7px 7px 7px 7px;
  background: rgb(117, 134, 138);
  color: #ffffff;
}