 @import "./variables";
/**
Scope css
*/
.qs-scope-MOVIE {
  background: url('./../img/film.svg') no-repeat center center;
  background-size: 100% 100%;
}

.qs-scope-PEOPLE {
  background: url('./../img/user.svg') no-repeat center center;
  background-size: 100% 100%;
}

.qs-scope-ALL {
  background: url('./../img/qs-none.svg') no-repeat center center;
  background-size: 100% 100%;
}
/** links to filter result css */

.linkFilterResult {
  text-align: right;
  padding-right: 10px;
  float: right;
}

.linkFilterResult a {
  text-decoration: none;
  padding: 5px;
  border: 1px solid  $color-gris2;
  background: #f5f5f5;
}

/** preview line css */
.movie-link-detailed-sheet {
  float: right;
  width: 30%;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
}

.movie-link-detailed-sheet img {
  padding-left: 5px;
}

.movie-link-detailed-sheet a {
  padding: 5px;
  border: 1px solid  $color-gris2;
}

.movie-resume-logo img {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

.movie-info {
  float: left;
  width: 55%;
}

.movie-descrition {
  padding: 10px 0 20px 0;
  border-bottom: 1px  $color-gris2 solid;
}

.line-preview {
  background-color:  $color-blanc;
  padding: 5px 5px;
}

.btn-preview {
  box-shadow: none !important;
  width: 40px !important;
  height: 40px !important;
  color: #FFF !important;
  background-color: #2a8182 !important;
  border-radius: 20px;
  font-size: 27px;
  padding: 0 !important;
  margin: 15px 0 0 0 !important;
}

.linkAdvancedSearch {
  text-align: right;
  padding-right: 10px;
}

.linkAdvancedSearch a {
  text-decoration: none;
  padding: 5px;
  border: 1px solid  $color-gris2;
  background: #f5f5f5;
}

.quick-search-popin {
  margin: 0 0 0 0 !important;
  padding-left: 60px;
  z-index: 1004;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
}

.quick-search-popin .full {
  min-height: 100%;
}
.quick-search-popin-header {
  font-size: 24px;
  padding: 20px 0 20px 30px;
}

.preview-popin {
  margin: 0 0 0 20px !important;
  z-index: 1004;
  height: 100%;
  width: 50%;
}

.preview-popin .full {
  min-height: 100%;
}

.preview-popin-header {
  background: white;
  height: 27px;
}

/** css on click on button preview */

.movie-details {
  padding: 10px 0 20px 0;
}

.movie-detail-line {
  width: 100%;
  display: inline-block;
}

.details-label-name {
  float: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
}

.details-label-value {
  float: left;
  padding-left: 20px;
}

.quick-search-popin .popin-close-btn {
  margin-top: 22px;
}
 .qs-help_container {
   position: fixed;
   top:30%;
   left:105%;
   font-size: 19px;
   font-family: RobotoItalic;
   width: 280px;
   color: $color-blanc;
   border: 1px solid transparent;
 }
 .qs-help_container img {
   float : left;
   margin-right: 5px;
   margin-top: 5px
 }