@import "./variables";

.sticky-navigation {
  background-color: white;
  width: 250px;
  float: left;
  a {
    color: black;
  }
  a:hover{
    color: $color-vert2;
  }
  a:focus{
    color: $color-vert2;
  }
  ul.selection-list li.sl-line:hover {
    background: none;
  }
}