// variables
$color-blanc:   #FFF;
$color-vert:    #36b7b9;
$color-vert2:   #6acacb;
$color-gris:    #424950;
$color-gris2:   #e2e2e2;
$color-rouge:   rgb(245, 73, 73); // rouge inactif, rouge alerte
$color-rouge2:  #f82239;
$color-jaune:   #ffbe60;
$color-noir:    #000;
$color-noir2:   #242a30;

body {
 border: none;
}