// variables
$color-blanc:   #FFF;
$color-vert:    #36b7b9;
$color-vert2:   #6acacb;
$color-vert3:   #2a8182;
$color-gris:    #424950;
$color-gris2:   #e2e2e2;
$color-gris3:   #f2f3f3;
$color-gris4:   #eeeff0;
$color-rouge:   rgb(245, 73, 73); // rouge inactif, rouge alerte
$color-rouge2:  #f82239;
$color-jaune:   #ffbe60;
$color-noir:    #000;
$color-noir2:   #242a30;
$font-family: "Roboto";
$color-background: #f8f8f8;


body {
 border: 0;
}