{
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
      "react"
  ],
  "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "classes": true,
        "templateStrings": true,
        "defaultParams": true,
        "superInFunctions": true,
        "modules": true,
        "arrowFunctions": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "spread": true,
        "destructuring": true
  },
  "globals": {
    "jQuery": false,
    "$": true,
    "Focus": true,
    "FocusComponents": true,
    "require": true,
    "Backbone": true,
    "React": true,
    "Fmk": true,
    "_": true,
    "Promise": true,
    "module": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": [
      2,
      {
        "requireParamDescription": true,
        "requireReturn": false
      }
    ],
    "quotes": [2, "single"],
    "eqeqeq": 1,
    "strict": 1,
    "yoda": "always",
    "camelcase": 1,
    "no-underscore-dangle": 0,
    "new-cap": 1,
    "react/display-name": 1,
    "react/jsx-boolean-value": 1,
    "react/jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 1,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
    "comma-dangle": 1
  }
}
